#cart {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cartHeading {
    margin-bottom: 20px;
    text-align: center;
}

#cartItems {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cartItem {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.itemDetails {
    display: flex;
    align-items: center;
}

.itemDetails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.itemInfo {
    flex-grow: 1;
}

@media (max-width: 768px) {
    #cartItems {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
